body {
  font-family: 'Arial', sans-serif;
  margin: 0; /* No margin */
  padding: 0; /* No padding */
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure full viewport height */
  background: linear-gradient(180deg, #4289b0, #56e058);
}

.app {
  display: flex;
  justify-content: center;
  color: yellow;
  font-size: 2rem;
}

.weather-container {
  border-radius: 12px;
  padding: 30px;
  width: 100%;
  max-width: 340px; /* Limit width for larger screens */
  text-align: center;
  background-color: rgb(6, 6, 245);
  box-shadow: 0 6px 20px rgba(134, 11, 159, 0.9);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.weather-container:hover {
  transform: translateY(-5px);
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 70%;
  padding: 12px;
  border: 2px solid #1d73d0;
  border-radius: 20px 0 0 20px;
  outline: none;
  transition: border-color 0.4s;
}

strong {
  color: #e6c50c;
}

.search-bar input:focus {
  border-color: #0056b3;
  box-shadow: 0 6px 20px rgba(159, 144, 11, 0.9);
}

.search-bar button {
  padding: 12px 20px;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.weather-image {
  width: 100%;
  max-width: 120px;
  height: auto;
  margin: 5px 0;
}

.description {
  font-size: 2em;
  color: yellow;
}

.des {
  margin-top: 5px;
  font-size: 1.2em;
}

.description h2 {
  margin: 0;
}

.description h1 {
  font-size: 2.5em;
  margin: 5px 0;
}

.additional-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 1.1em;
  color: white;
}

.info-item {
  text-align: left;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  body {

  }

  .weather-container {
    padding: 20px;
    width: 100%;
  }

  .app {
    font-size: 1.5rem; /* Slightly smaller font for mobile */
  }

  .search-bar input {
    width: 60%; /* Adjust input width */
  }

  .description h1 {
    font-size: 2em; /* Responsive font size */
  }

  .description {
    font-size: 1.5em; /* Responsive font size */
  }

  .additional-info {
    flex-direction: column; /* Stack info items */
    align-items: center; /* Center align */
    gap: 4px; /* Space between items */
  }

  .info-item {
    display: flex;
    justify-content: center; /* Center align info items */
  }
}




