body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #4289b0, #56e058);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  padding-top: 0;
  margin: 2px;
  color: yellow;
  font-size: 2rem;
}

.weather-container {
  border-radius: 12px;
  padding: 30px;
  width: 100%; /* Full width on small screens */
  max-width: 320px; /* Maximum width for larger screens */
  text-align: center;
  background-color: rgb(6, 6, 245);
  box-shadow: 0 6px 20px rgba(134, 11, 159, 0.9);
  transition: transform 0.2s;
}

.weather-container:hover {
  transform: translateY(-5px);
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 70%;
  padding: 12px;
  border: 2px solid #1d73d0;
  border-radius: 20px 0 0 20px;
  outline: none;
  transition: border-color 0.4s;
}
strong{
  color: #e6c50c;
}
.search-bar input:focus {
  border-color: #0056b3;
  box-shadow: 0 6px 20px rgba(159, 144, 11, 0.9);
}

.search-bar button {
  padding: 12px 20px;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.weather-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: 5px 0;
}

.description {
  font-size: 2em;
  color: yellow;
}

.des {
  margin-top: 5px;
  font-size: 1.2em;
}

.description h2 {
  margin: 0;
}

.description h1 {
  font-size: 2.5em;
  margin: 5px 0;
}

.additional-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 1.1em;
  color: white;
}

.info-item {
  text-align: left;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .weather-container {
    padding: 20px;
    width: 100%; /* Ensure full width on small screens */
  }

  .app {
    font-size: 2rem;
  }

  .search-bar input {
    width: 60%;
  }

  .description h1 {
    font-size: 2em;
  }

  .description {
    font-size: 1.5em;
  }
  
  .additional-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;


  }
  .info-item{
    display: flex;
    justify-content: center;
  }
}